body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.blue{
    background-color: #1F2937;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 15vw;
    padding-right: 15vw;
    align-items: center;
}

.section1{
    background-color: #1F2937;
    color: white;
    display: flex;
    padding-left: 15vw;
    padding-right: 15vw;
    width: 70vw;
    flex-basis: 60vh;
    align-items: center;
}   

.left{
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: space-between;
}
button{
    max-width: 25%;
    padding: 9px;
    border-radius: 10px;  
    background-color: #3882F6;
    color: white;
    border: none;
}

.logo{
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.links{
    flex: 1;
    gap: 25px;
    display: flex;
    justify-content: end;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    margin: 0;
}

.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    max-width: 90%;
}