body{
    margin: 0;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    background-size: 100% 100%;
    
}

.header-up{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}

.header-down{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}

.header-links{
    display: flex;
    gap: 25px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.sec-text{
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo{
    font-size: 24x;
    color: #F9FAF9;
    font-weight: bold;
}

.main-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF9;
}